.loader {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  height: 100%;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #f6f8ff;
  &.active {
    display: flex;
  }
  svg {
    circle {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      fill: none;
      stroke-width: 5px;
      stroke-linecap: round;
      stroke: var(--primary-color);
    }
    :first-child {
      stroke-width: 8px;
      stroke: var(--secondary-color);
    }
    :not(:first-child) {
      stroke-dasharray: 242.6;
      animation: fill-animation 1s cubic-bezier(1, 1, 1, 1) 0s infinite;
    }
  }
}
@keyframes fill-animation {
  0% {
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 141.3;
    stroke-dashoffset: 141.3;
  }
  100% {
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 282.6;
  }
}
