.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  height: 48px;
  &::before {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    border-radius: 42px;
    background-color: var(--secondary-color);
  }
  svg {
    margin: 5px;
    position: relative;
    fill: var(--primary-color);
    width: 32px;
    height: 32px;
  }
}
.content {
  margin: 10px 0;
}
.footer {
  span + span {
    background-color: #f7f7f9;
    height: 30px;
    border-radius: 30px;
    font-size: 10px;
    color: #9a9b9e;
    padding: 0 10px;
  }
}
