@import url("https://fonts.googleapis.com/css?family=Poppins");
.deviceName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;

  text-align: center;

  color: #445f53;
}

.main {
  display: inline-block;
  width: 300px;
  border: 2px solid red;
  margin: 5px;
  text-align: center;
}

.slantDiv {
  margin-top: 100px;
  background: #f1ccaf;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.slantDiv::after {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-4deg);
}

.optionsDiv {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}
.options {
  display: inline-block;
  background: #edbaa5;
  width: 80px;
  height: 120px;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 5px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.options > label > input {
  display: none;
}

.options > label > input[type="checkbox"]:not(:checked) ~ p {
  color: #bf9381;
}
.icons {
  vertical-align: center;
  margin: 15px;
}

.options > label > input[type="checkbox"]:checked ~ p {
  color: white;
}

.settingsButton {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  margin: 5px;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  color: #ffffff;
  background: #e28185;
  border-radius: 10px;
}
